In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

/kaggle/input/zomato-bangalore-restaurants/zomato.csv

In [2]:
import pandas as pd
import sqlite3 as sql

In [3]:
## Read the file

df_zomato=pd.read_csv("C:\Users\shubh\Desktop\GitHub\Bangalore-Zomato-Data-Exploration-with-SQL\dataset\zomato.csv")
df_zomato.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [4]:
## print the columns

print('The columns of the dataset are:- ',df_zomato.columns)

The columns of the dataset are:-  Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [5]:
# import sqlalchemy and create a sqlite engine
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

# export the dataframe as a table 'playstore' to the sqlite engine
df_zomato.to_sql("zomato", con =engine)

In [6]:
## Test the code by select the complete table

sql='''

Select * from zomato
limit 5


''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

,index,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [7]:
## Count of Distinct Vendors

sql='''

Select 'The total number of vendors :- '||count(Distinct url) as Value from zomato

''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

                                  Value
0  The total number of vendors :- 51717

In [8]:
## Areas which with top vendors (for immediate food access and availability)

sql='''

Select location,count(Distinct url) as Value from zomato
group by 1
order by count(Distinct url) desc
''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

                location  Value
0                    BTM   5124
1                    HSR   2523
2  Koramangala 5th Block   2504
3               JP Nagar   2235
4             Whitefield   2144

In [9]:
## Areas with vendos which have top ratings

## Areas which with top vendors (for immediate food access and availability)

sql='''

Select location,
round(avg(rate),2) as rating from zomato
group by 1
order by round(avg(rate),2) desc
''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

                location  rating
0           Lavelle Road    4.04
1         St. Marks Road    4.02
2  Koramangala 3rd Block    3.98
3            Sankey Road    3.97
4          Church Street    3.96

In [10]:
## count of restaurants that have performed more than the average rating. Select a breakdown areawise

## Areas with vendos which have top ratings


sql='''

with b as (
select 
location,
name,
rate,
votes
from zomato
group by 1,2,3,4)

select * from
(select
s.location,
sum(case when s.rating>=3.7 then 1 else 0 end) as Above_avg_restuarants_count
from
(select
b.location,
b.name,
b.rate,
round(avg(b.rate),2) as rating,
b.votes
from b
where location!='None' and rate !='None'
group by 1,2,3,5 having b.votes >= avg(b.votes))s
group by 1) a
order by a.Above_avg_restuarants_count desc
''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

                location  Above_avg_restuarants_count
0  Koramangala 5th Block                          808
1                    BTM                          749
2            Indiranagar                          745
3                    HSR                          681
4              Jayanagar                          567

In [11]:
## Area wise performance (TOtal number of vendors greater than avg rating and overall avg rating of the food)
sql='''

with b as (
select 
location,
name,
rate,
votes
from zomato
group by 1,2,3,4),

d as (
select location,
round(avg(rate),2) as rating from zomato
group by 1
order by round(avg(rate),2) desc)

select
a.location,
a.Above_avg_restuarants_count,
d.rating
from
(select
s.location,
sum(case when s.rating>=3.7 then 1 else 0 end) as Above_avg_restuarants_count
from
(select
b.location,
b.name,
b.rate,
round(avg(b.rate),2) as rating,
b.votes
from b
where location!='None' and rate !='None'
group by 1,2,3,5 having b.votes >= avg(b.votes))s
group by 1) a
join d on a.location=d.location
order by a.Above_avg_restuarants_count desc
''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

                location  Above_avg_restuarants_count  rating
0  Koramangala 5th Block                          808    3.90
1                    BTM                          749    3.30
2            Indiranagar                          745    3.65
3                    HSR                          681    3.48
4              Jayanagar                          567    3.62